<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Wikinimous", articles_path, class: "navbar-brand" %>
    <%# <a class="navbar-brand" href="#">Wikinimous</a> %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "New article", new_article_path %>
      </div>
    </div>
  </nav>
