<div class="navbar border-bottom navbar-light bg-light mb-5">
    <%= link_to "Wikinimous", articles_path, class: "navbar-header" %>

    <%= link_to "New Article", new_article_path, class: "navbar-new" %>
</div>
