<div class="container">
  <%= render :partial => "navbar" %>

  <ul>
    <% @articles.each do |article| %>
      <li class="article-title"><%= link_to article.title, article_path(article) %></li>
      <p><%= article.content %></p>
    <% end %>
  </ul>
</div>
