@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

h2 {
  font-family: 'Roboto Slab', serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

article {
  margin-bottom: 18px;
}

a:link {
  text-decoration: none;
}

.navbar-header {
  font-size: 18px;
  color: #777777;
  &:hover {
    color: #575757;
  }
}

.navbar-new {
  font-size: 14px;
  color: #777777;
  &:hover {
    color: #575757;
  }
}
